@font-face {
    src: url("/fonts/Inter-Bold.woff2") format("woff2"),
         url("/fonts/Inter-Bold.woff") format("woff");
    font-family: 'Inter';
    font-weight: bold;
}
.page {
    margin: 0;
    background-color: #2A2C2F;
}